/**
!/.gitignore
!/.gitattributes
!/.funcignore

# ----------------------------------------------------------------
# ROOT
# ----------------------------------------------------------------

!/README.md
!/LICENCE
!/justfile
!/Cargo.toml
!/pyproject.toml
!/*.lock

# ----------------------------------------------------------------
# PROJECT
# ----------------------------------------------------------------

!/templates
!/templates/template*

!/docs
!/docs/**/
!/docs/**/*.md

!/src
!/src/**/
!/src/**/README.md
!/src/**/*.rs

!/src-py
!/src-py/**/
!/src-py/**/*.py

!/tests
!/tests/**/
!/tests/**/*.rs

!/dist
!/dist/VERSION

# ----------------------------------------------------------------
# FORCE REMOVE
# ----------------------------------------------------------------

**/logs
**/.vscode
**/*.tmp
**/.DS_Store
**/__archive__*
**/__pycache__*
/build
/target

# ----------------------------------------------------------------
# FORCE RETAIN
# ----------------------------------------------------------------

!**/.gitkeep
